/* CSS Document */
body {
	background-color: #f9f9f9;
	padding: 0px;
	margin: 0px;
	font: 13px/17px  Arial, Helvetica, sans-serif;
}
div, ul, li, h1, h2, h3, h4, p, img {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
ul {
	list-style-type: none;
}
/*----TOP PANEL----*/
a {
	color:red;
}
a:hover {
	color: #111;
}
.traka
{
background:#464646;
width:100%;
float:left;
border-bottom:2px solid #f1f1f1;
}
 
.h3naslov
{
background:#f1f1f1;
font-size:12px;
margin-bottom:3px;
}
.h3naslov1
{
background:#E0EEF7;

}
.h3naslov1 span, .h3naslov span
{
display:block;
padding:5px 10px 5px 10px;
}
.padis
{
padding:0px 10px;
}
.traka
{
width:100%;
background:#464646;
}
.traka ul li
{
float:left;
margin-right:3px;
}
.traka ul li a
{
display:block;
padding:7px;
background:#333;
border-right:1px solid #999;
font-size:13px;
color:#fff;
}
.traka ul li a:hover
{
background:#f6f6f6;
color:#111;
}
.fixed_logo
{
float:right;margin-left:10px;position: fixed;right:0;bottom:0;
}
.margin_auto
{
width:1000px;margin:0 auto;
}
.conte {
	width: 100%;
	
float:left;
	min-height: 0px;
}
.conte_index {
 width:100%;

}
.users
{
width:100%;
} 
table.users .first_row
{
background:#f1f1f1;
font-weight:bold;
}
table.users td
{
padding:4px;
} 
table.users .first
{
background:#F7F1F9;
 
}
table.users .second
{
background:#F1F4F9;
 
}
table.users .first:hover, table.users .second:hover{
	background: #E0EEF7;
}
 
 
.clear {
	clear: both;
}
 
.links a {
	color: #ff5500;
	font-weight: bold;
}
.links a:hover {
	color: black;
}
form {
	font-family: verdana;
}
 
 
input, select,  .dugme, textarea {
	
	border: 1px solid #E1E1E1;
	
	padding:4px 2px;
  
}
input:hover, select:hover {
	background: #f9f9f9;
}

input[type="checkbox"] {
	position: relative;
	top: 0px;
	background: none;
	border: none;
	height: auto;
	padding: 0px;
}
input[type=text], input[type=password] {
	width:200px;
  padding-left:3px;
  padding-right:3px;
}
input[type=text]:focus {
	background: #E0EEF7;
}
select {
	width:208px;
  padding-left:3px;
  padding-right:3px;
}
.dugme {
	cursor: pointer;
	color:white;
 background:  url(../images/dugme.jpg) repeat-x left top;
 border:0px;
}
.dugme:hover {
	
 background:  url(../images/dugme1.jpg) repeat-x left top;
}
.dugme1 {
	
  height:auto;
	cursor: pointer;
 
color:white;
font-weight:bold;
padding:5px 30px 5px 30px;
 
	
  background:  url(../images/save.jpg) repeat-x left top;
}
.dugme1:hover {
 
 background:  url(../images/save1.jpg) repeat-x left top;
}
textarea {
	height: 50px;
	background: white;
	border: 1px solid #E1E1E1;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	width: 100%;
}
.title {
	width: 795px;
}
 
.button {
	background: url(../images/button_back.jpg) repeat;
	cursor: pointer;
	color: white;
	font-weight: bold;
	margin-bottom: 20px;
	padding: 2px 2px 2px 2px;
}
 
 
.settings
{
border: 1px solid #E0EEF7;
	   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	float: left;
	width: 100%;
	
}
.radius {
	
	border: 1px solid #E0EEF7;
	   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	float: left;
	width: 100%;
	
 
}
 .plus1
 {
 width:100%;
 position:relative;
 top:4px;
 background:#FCDCE5;
 }
 .plus1 div
 {
 padding:5px;font-size:11px;
 }
 .table_reservation
 {
 width:100%;margin-top:10px;float:left;
 }
 .first_tr
 {
 background:#E0EEF7;font-weight:bold;
 }
.radius .padd {
	padding: 30px 10px 0px 10px;
}
  
.radius_red {
	
	position: relative;
	background: #FBDDDC;
 
	margin-bottom: 15px;
}

.radius_uspesno {
	
	position: relative;
	background: #DBF4C0;
	 
	margin-bottom: 15px;
}
.radius_sivo {
	
	position: relative;
	background: #E5E5E5;
	font-weight: bold;
	margin-bottom: 15px;
	width: 260px;
	float: right;
	top: -14px;
	right: -10px;
}
 
 
.radius_sivo2 {
	
position: relative;
background:#f1f1f1; 
margin-bottom:10px;
width: 100%;
float:left;
}
.padd
{
padding:10px;
}
.padd1
{
padding:10px 10px 10px 0px;
}
.radius div
{
 padding:3px;
}
.radius_red div, .radius_uspesno div {
	padding: 10px;
}
 
  
/* --------- LOGIN FORMA ---------- */
#loginform
{
width:270px;margin:0 auto;color:black;
}
 
.radius_logovanje {
	
	border: 1px solid #CFCFCF;
	   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	margin: 0 auto;
	width: 317px;
	background: -webkit-linear-gradient(top, white, #E0E0E0);
	background:    -moz-linear-gradient(top, white, #E0E0E0);
	background:     -ms-linear-gradient(top, white, #E0E0E0);
	background:      -o-linear-gradient(top, white, #E0E0E0);
	background:      linear-gradient(top, white, #E0E0E0);
	-pie-background:      linear-gradient(top, white, #E0E0E0);
	box-shadow:   inset 0 0 3px #fff;
	/*background: url(../images/back_logovanje.jpg) repeat-y top left;
*/
	min-height: 340px;
	padding-top: 20px;
	position: relative;
	top: 100px;
}
.radius_logovanje img {
	margin-left: 10px;
	margin-bottom: 15px;
}
.radius_logovanje span {
	display: block;
	padding-left: 3px;
	margin-top: 14px;
}
.radius_logovanje strong {
	font-weight: normal;
	position: relative;
	top: 7px;
	left: 2px;
}
.logovanje_padding {
	padding: 5px 30px 20px 23px;
}
.login_naslov {
	font-size: 15px;
	font-weight: bold;
	padding: 0px 0px 10px 1px;
	display: inline;
}
.input_login, .input_login input {
	padding: 3px;
	width: 100%;
}
 
.dugme2 {
	
  height:auto;
	cursor: pointer;
  
color:white;font-weight:bold;
padding:5px 20px 5px 20px;
text-decoration:none;
	
  background:  #999;
}
.dugme2:hover {
 
 background:  #555;
 color:white;
}
/* ------------------- !MOBILE ----------------------- */
@media only screen and (max-device-width: 600px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 600px), only screen and (max-width: 767px) {
.margin_auto
{
width:100%;
}
.radius_logovanje
{
width:100%;
height:auto;
top:0px;
}
.fixed_logo
{
display:none;
}
}
/* -------  PAGINACIJA ----------- */

.pagination
{
width:100%;
text-align:center;

}
.paginations
{
width:auto;
}
.paginations li
{
 float:left;
padding:2px;
display:inline;
}
.page_next,  .page_prev,  .page_last,  .page_first, .page_num, .current_page
{
background:#f1f1f1;
display:block;
color:white;
margin-right:2px;
}
.page_next:hover,  .page_prev:hover,  .page_last:hover,  .page_first:hover, .page_num:hover
{
background:#999;

}
.current_page
{
background:#666;
color:#fff;
}
.page_next a, .page_prev a,  .page_last a,  .page_first a, .page_num a, .current_page i
{
padding:0px 3px 0px 3px;
}
/* --------- END pagination ------- */
 
.plus
{
float:right;position:relative;top:-5px;
}

/*--Tooltip Styles--*/
.tip {
	color: #fff;
	background:#1d1d1d;
	display:none; /*--Hides by default--*/
	padding:10px;
 
	position:absolute;	z-index:1000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
 
/* admin calendar */
.calendar_box
{
padding:5px;text-align:center;
}
.day
{
color:#111;
font-family:verdana;
font-size:14px;
display:block;
padding:2px;
}
.day:hover
{
color:#fff;
}
.calendar
{
border:1px solid #999;
}
.blue
{
background:red;
text-align:center;
}
.pend
{
background:#A4BEDF;
text-align:center;
}
.siv
{
background:#BDF56E;

text-align:center;
}
.red
{
background:red;
text-align:center;
color:white;
font-weight:bold;
}

span.red
{
display:block;
width:15px;
height:15px;
float:left;
margin-right:5px;
}
span.blue
{
display:block;
width:15px;
height:15px;
float:left;
margin-right:5px;
}
.red_day
{
font-size:11px;
text-align:left;
}
.free_days
{
display:block;font-weight:normal;font-size:11px;
}
/* end admin calendar */
.reservation_detail
{
width:100%;
background:#F5F5F5;
margin-bottom:10px;
}
.reservation_detail td
{
background:#fff;
padding-left:5px;
}
