 
body {
	color: #111111;
	font-family:    arial, tahoma, helvetica;
	font-size:12px;
}
 
textarea
{
overflow:auto;
}
 
.h3naslov1
{
width:100%;
background:#252525;
color:white;
}
.h3naslov1 span
{
display:block;
padding:5px 10px 5px 10px;
} 
 
.need
{
color:red;
}
ol.forms {

	list-style: none;
	width: 100%;

	padding:0px;
margin:0 auto;

}

ol.forms li {
	clear: left;
	float: left;
	line-height: 1.5em;
	margin-bottom: 0.5em;
	width: 100%;
}

ol.forms label {
	cursor: pointer;
	display: block;
	float: left;
	line-height: 1.5em;
	padding-right: 1%;
	text-align: left;
	width: 100%;
}

  ol input, textarea { 
width: 100%; 
border:3px solid #d4d4d4;
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
 position:relative;
 background:#E0EEF7;
 color:#464646;
}
 
 .submit_button {
	float:right;
  height:auto;
	cursor: pointer;
  
color:white;font-weight:bold;
padding:5px 30px 5px 30px;
	
  background:  url(../../images/calendar/save.jpg) repeat-x left top;
}
.submit_button:hover {
 
 background:  url(../../images/calendar/save1.jpg) repeat-x left top;
}
 
 
.radius_red {
	
	position: relative;
	background: #FBDDDC;
 
	margin-bottom: 15px;
}

.radius_uspesno {
	
	position: relative;
	background: #DBF4C0;
	 
	margin-bottom: 15px;
}
.radius_red div, .radius_uspesno div {
	padding: 10px;
}
