
.toggleMenu {
    display:  none;
    background: #222;
    padding: 10px 15px;
    color: #fff;
}
.nav {
    list-style: none;
     *zoom: 1;
    
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
}
.nav a {
    padding: 10px 15px;
    color:#fff;
}
.nav li {
    position: relative;
}
.nav > li {
    float: left;
    border-top: 1px solid #104336;
}



.nav li  ul {
    position: absolute;
    left: -9999px;
}



@media screen and (max-width: 768px) {
    .active {
        display: block;
        color:white;
    }
    .nav > li {
        float: none;
        width:100%;
    }
     
    .nav ul {
        display: block;
        width: 100%;
    }
   

}
